<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>All users</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
</head>
<body>
<div>
    <div class="container-fluid ps-0">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="navbar-brand ms-4 h1">
                <span th:text="${authUser.getUsername()}"></span>
                <span> with roles: </span>
                <span th:text="${authUser.getListRoles()}"></span>
            </div>
            <div class="collapse navbar-collapse d-flex justify-content-end" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <div class="">
                            <form class="nav-link" th:action="@{/logout}" th:method="post">
                                <button type="submit" class="btn btn-link text-decoration-none text-muted">Logout
                                </button>
                            </form>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
    <div class="row">
        <div class="col-3">
            <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                <a class="nav-link active" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab"
                   aria-controls="v-pills-home" aria-selected="true">Admin</a>
                <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab"
                   aria-controls="v-pills-profile" aria-selected="false">User</a>
            </div>
        </div>
        <div class="col-9">
            <div class="tab-content" id="v-pills-tabContent">
                <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel"
                     aria-labelledby="v-pills-home-tab">
                    <div class="container">
                        <!--                        Admin panel-->
                        <h1>Admin panel</h1>
                        <nav>
                            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                                <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Users table</a>
                                <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">New user</a>
                            </div>
                        </nav>
                        <div class="tab-content" id="nav-tabContent">
                            <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                                <div class = "container border p-2">
                                    <h4 class="p-2">All users</h4>
                                    <table class="table table-hover">
                                        <thead>
                                        <tr>
                                            <th scope="col">id</th>
                                            <th scope="col">Username</th>
                                            <th scope="col">Salary</th>
                                            <th scope="col">Password</th>
                                            <th scope="col">Roles</th>
                                            <th scope="col">Edit</th>
                                            <th scope="col">Delete</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr th:each="user: ${users}">
                                            <td th:text="${user.getId()}">id</td>
                                            <td th:text="${user.getUsername()}">name</td>
                                            <td th:text="${user.getSalary()}">salary</td>
                                            <td th:text="${user.getPassword()}">password</td>
                                            <td th:text="${user.getListRoles()}">roles</td>
                                            <td>
                                                <button type="button" class="btn btn-primary" data-toggle="modal"
                                                        th:data-target="${'#editModalCenter'+ user.getId()}"
                                                >Edit
                                                </button>
                                                <!-- Edit modal  -->
                                                <div class="modal fade bd-example-modal-lg"
                                                     th:id="${'editModalCenter' + user.getId()}" tabindex="-1" role="dialog"
                                                     aria-labelledby="editModalCenterTitle" aria-hidden="true">
                                                    <div class="modal-dialog modal-dialog-centered" role="document">
                                                        <form th:method="post" th:action="@{/admin/edit}" th:object="${user}">
                                                            <div class="modal-content modal-lg">
                                                                <div class="modal-header">
                                                                    <h5 class="modal-title" id="editModalLongTitle">Edit
                                                                        user</h5>
                                                                    <button type="button" class="btn-close"
                                                                            data-dismiss="modal"
                                                                            aria-label="Close">
                                                                    </button>
                                                                </div>
                                                                <div class="modal-body">
                                                                    <div class="form-group m-3 col-sm-8">
                                                                        <label for="edit_id"><b>Id</b></label>
                                                                        <input name = "id" type="text" class="form-control"
                                                                               th:value="${user.getId()}" id="edit_id"
                                                                               disabled>
                                                                    </div>
                                                                    <div class="form-group m-3 col-sm-8">
                                                                        <label for="edit_username"><b>Name</b></label>
                                                                        <input name="username" type="text" class="form-control"
                                                                               th:value="${user.getUsername()}"
                                                                               id="edit_username"
                                                                               placeholder="Enter name">
                                                                    </div>
                                                                    <div class="form-group m-3 col-sm-8">
                                                                        <label for="edit_salary"><b>Salary</b></label>
                                                                        <input name="salary" type="text" class="form-control"
                                                                               th:value="${user.getSalary()}"
                                                                               id="edit_salary"
                                                                               placeholder="Enter salary">
                                                                    </div>
                                                                    <div class="form-group m-3 col-sm-8">
                                                                        <label for="edit_password"><b>Password</b></label>
                                                                        <input name="password" type="text" class="form-control"
                                                                               id="edit_password"
                                                                               placeholder="Enter password">
                                                                    </div>
                                                                    <div class="form-group m-3 col-sm-8">
                                                                        <label for="edit_role"
                                                                               class="form-label mb-0 pb-0"><b>Roles</b></label>
                                                                        <br>
                                                                        <select name="roles"
                                                                                class="custom-select col-sm-6"
                                                                                id="edit_role"
                                                                                size="2"
                                                                                multiple>
                                                                            <option th:each="role : ${roles}"
                                                                                    th:text="${role.getName().substring(5)}"
                                                                                    th:value="${role.getId()}"></option>
                                                                        </select>
                                                                    </div>
                                                                </div>
                                                                <div class="modal-footer">
                                                                    <button type="button" class="btn btn-secondary"
                                                                            data-dismiss="modal">Close
                                                                    </button>
                                                                    <button type="submit" class="btn btn-primary">Edit
                                                                    </button>
                                                                </div>
                                                            </div>
                                                        </form>
                                                    </div>
                                                </div>
                                            </td>
                                            <td>
                                                <button type="button" class="btn btn-danger" data-toggle="modal"
                                                        th:data-target="${'#deleteModalCenter' + user.getId()}">Delete
                                                </button>
                                                <!-- Delete modal  -->
                                                <div class="modal fade bd-example-modal-lg"
                                                     th:id="${'deleteModalCenter' + user.getId()}" tabindex="-1"
                                                     role="dialog"
                                                     aria-labelledby="editModalCenterTitle" aria-hidden="true">
                                                    <div class="modal-dialog modal-dialog-centered" role="document">
                                                        <div class="modal-content modal-lg">
                                                            <div class="modal-header">
                                                                <h5 class="modal-title" id="deleteModalLongTitle">Delete
                                                                    user</h5>
                                                                <button type="button" class="btn-close"
                                                                        data-dismiss="modal"
                                                                        aria-label="Close">
                                                                </button>
                                                            </div>
                                                            <div class="modal-body">
                                                                <form th:method="delete" th:action="@{admin/?id={id}(id = ${user.getId()})}"
                                                                      th:object="${user}">
                                                                    <div class="form-group m-3 col-sm-8">
                                                                        <label for="delete_id"><b>Id</b></label>
                                                                        <input type="text" class="form-control"
                                                                               th:value="${user.getId()}" id="delete_id"
                                                                               disabled>
                                                                    </div>
                                                                    <div class="form-group m-3 col-sm-8">
                                                                        <label for="delete_username"><b>Name</b></label>
                                                                        <input type="text" class="form-control"
                                                                               th:value="${user.getUsername()}"
                                                                               id="delete_username"
                                                                               placeholder="Enter name" disabled>
                                                                    </div>
                                                                    <div class="form-group m-3 col-sm-8">
                                                                        <label for="delete_salary"><b>Salary</b></label>
                                                                        <input type="text" class="form-control"
                                                                               th:value="${user.getSalary()}"
                                                                               id="delete_salary"
                                                                               placeholder="Enter salary" disabled>
                                                                    </div>
<!--                                                                    <div class="form-group m-3 col-sm-8">-->
<!--                                                                        <label for="delete_password"><b>Password</b></label>-->
<!--                                                                        <input type="text" class="form-control"-->
<!--                                                                               id="delete_password"-->
<!--                                                                               placeholder="Enter password" disabled>-->
<!--                                                                    </div>-->
                                                                    <div class="form-group m-3 col-sm-8">
                                                                        <label for="delete_role"
                                                                               class="form-label mb-0 pb-0"><b>Roles</b></label>
                                                                        <br>
                                                                        <select class="custom-select col-sm-6"
                                                                                id="delete_role"
                                                                                size="2"
                                                                                multiple disabled>
                                                                            <option th:each="role : ${roles}"
                                                                                    th:text="${role.getName().substring(5)}"
                                                                                    th:value="${role.getId()}"></option>
                                                                        </select>
                                                                    </div>
                                                                </form>
                                                            </div>
                                                            <div class="modal-footer">
                                                                <button type="button" class="btn btn-secondary"
                                                                        data-dismiss="modal">Close
                                                                </button>
                                                                <form th:action="@{admin/?id={id}(id = ${user.getId()})}" th:method="delete">
                                                                    <input type="hidden" name="id" th:value="${user.getId()}">
                                                                    <button class="btn btn-danger" type="submit">Delete</button>
                                                                </form>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
<!--                            Add new user-->
                            <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                                    <h5 class="m-2">Add new user</h5>
                                    <form th:method="post" th:action="@{/admin/save}" th:object="${newUser}">
                                        <div class="form-group m-3 col-sm-4">
                                            <label for="username"><b>Name</b></label>
                                            <input th:field="*{username}" type="text" class="form-control" id="username" placeholder="Enter name">
                                        </div>
                                        <div class="form-group m-3 col-sm-4">
                                            <label for="salary"><b>Salary</b></label>
                                            <input th:field="*{salary}" type="text" class="form-control" id="salary" placeholder="Salary">
                                        </div>
                                        <div class="form-group m-3 col-sm-4">
                                            <label for="password"><b>Password</b></label>
                                            <input th:field="*{password}"  type="password" class="form-control" id="password" aria-describedby="passwordHelp" placeholder="Password">
                                            <small id="passwordHelp" class="form-text text-muted">Never share your password with anyone else.</small>
                                        </div>
                                        <button type="submit" class="btn btn-primary m-3">Save</button>
                                    </form>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
                    <!--                    User information-page-->
                    <div class = "container">
                        <h1 class="p-2">User's information-page</h1>
                        <div class="container border m-2 p-2">
                            <h4>User info</h4>
                            <table class="table table-hover">
                                <thead>
                                <tr>
                                    <th scope="col">id</th>
                                    <th scope="col">Username</th>
                                    <th scope="col">Salary</th>
                                    <th scope="col">Password</th>
                                    <th scope="col">Roles</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td th:text="${authUser.getId()}">id</td>
                                    <td><a th:text="${authUser.getUsername()}">name</a></td>
                                    <td th:text="${authUser.getSalary()}">salary</td>
                                    <td th:text="${authUser.getPassword()}">password</td>
                                    <td th:text="${authUser.getListRoles()}">roles</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>